<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cryptic.imed"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15"/>

    <supports-screens android:smallScreens="true"
                      android:normalScreens="true"
                      android:largeScreens="true"
                      android:anyDensity="true"/>

    <!-- WRITE_EXTERNAL_STORAGE permission is needed to delete temp photo capture files created on sdcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:theme="@style/iMed.Theme.Light">
        <activity android:name=".activity.DashboardActivity"
                  android:label="@string/app_name"
                  android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.medicine.MedicineListActivity"
                  android:label="@string/medicine_list"
                  android:windowSoftInputMode="stateHidden"
                  android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".activity.medicine.AddEditMedicineActivity"
                  android:label="@string/new_medicine"
                  android:windowSoftInputMode="stateHidden"
                  android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".activity.medicine.MedicineDetailsActivity"
                  android:label="@string/medicine_details"
                  android:windowSoftInputMode="stateHidden"
                  android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".activity.doctor.DoctorListActivity"
                  android:label="@string/doctor_list"
                  android:windowSoftInputMode="stateHidden"
                  android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".activity.doctor.DoctorDetailsActivity"
                  android:label="@string/doctor_details"
                  android:windowSoftInputMode="stateHidden"
                  android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".activity.doctor.AddEditDoctorActivity"
                  android:label="@string/new_doctor"
                  android:windowSoftInputMode="stateHidden"
                  android:configChanges="orientation|screenSize|keyboardHidden"/>
    </application>

</manifest>
